
  <!-- Unnamed (Image) -->
  <!-- <div id="u0" class="ax_default image">
    <img id="u0_img" class="img " src="images/home/u0.png"/>
  </div> -->
  <div class="container">
      <h2 class="text-center" style="margin-top: 50px;">PROJ 7 </h2>
  <div class="row">
       
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <!-- Unnamed (Rectangle) -->
      <div id="u1" class="ax_default box_1">
        <a routerLink="job"><div id="u1_div" class=""></div></a>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u2" class="ax_default box_1">
          <a routerLink="create-company" id="u2_div"></a>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u3" class="ax_default box_1">
          <a routerLink="jobtable"><div id="u3_div" class=""></div></a>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u4" class="ax_default box_1">
          <a routerLink="create-company"> <div id="u4_div" class=""></div></a>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u5" class="ax_default box_1">
        <div id="u5_div" class=""></div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u6" class="ax_default box_1">
        <div id="u6_div" class=""></div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u7" class="ax_default box_1">
        <div id="u7_div" class=""></div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u8" class="ax_default box_1">
        <div id="u8_div" class=""></div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u9" class="ax_default heading_2">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span>CREATE NEW JOB</span></p>
        </div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u10" class="ax_default heading_2">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text ">
          <p><span>CREATE COMPANY</span></p>
        </div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u11" class="ax_default heading_2">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text ">
          <p><span>JOB TABLE</span></p>
        </div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u12" class="ax_default heading_2">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
          <p><span>PRICE JOB</span></p>
        </div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u13" class="ax_default heading_2">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
          <p><span>COSTING</span></p>
        </div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u14" class="ax_default heading_2">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text ">
          <p><span style="font-family:'Arial Bold', 'Arial';font-weight:700;">HEADING 2 </span></p>
        </div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u15" class="ax_default heading_2">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
          <p><span style="font-family:'Arial Bold', 'Arial';font-weight:700;">HEADING 2</span></p>
        </div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <div id="u16" class="ax_default heading_2">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
          <p><span style="font-family:'Arial Bold', 'Arial';font-weight:700;">HEADING 2</span></p>
        </div>
      </div>
    
      <!-- Unnamed (Rectangle) -->
      <!-- <div id="u17" class="ax_default heading_1 text-center">
          <div id="u17_div" class=""></div>
          <div id="u17_text" class="text ">
            <p><span> PROJ 7</span></p>
          </div>
         
        </div> -->
      </div>
    </div>
    </div>